/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e1c;
  padding: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

/* Banner styles */
#banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/28/11/27/milky-way-1014652_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* About styles */
#about {
  background-color: #0e0e1c;
  padding: 40px;
}

/* Locations styles */
#locations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1c1c24;
  padding: 40px;
}

#locations li {
  text-align: center;
}

#locations img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

/* Community styles */
#community {
  background-color: #0e0e1c;
  padding: 40px;
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }
}
